body{
      height: 1300px;
      width: 100vw;
      font-size: 35px;
}
.header{
      background-color: blue;
      width: 100%;
      height: 20%;
}
.central{
      background-color: antiquewhite;
      width: 100%;
      height: 60%;
      display: flex;
      
}
.nav{
      width: 20%;
      height: 133%;
      background-color:red;
}
.aside{
      width: 20%;
      height: 100%;
      background-color:green;   
}
.main{
      width: 60%;
      height: 100%;
      background-color:rgb(212, 144, 18);   
}
.footer{
      background-color: rgb(27, 160, 27);
      height: 20%;
      width: 100%;
}
.centrar{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
@media(max-width:1024){
      .body{
            font-size: 25px;
      }

}
@media(max-width:768px){
      .body{
            font-size: 15px;
      }
}